flows.json
[{"id":"6b6ad608.6d0838","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"d0bccf6.bb3553","type":"ibmiot","name":"nodmcu","keepalive":"60","serverName":"d1lwhk.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"d0bb3b6e.af7138","type":"ui_tab","name":"Smart Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"b7921bc0.cf96c8","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"Copperplate,Copperplate Gothic Light,fantasy","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":1,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"71f0ae94.10f1e","type":"ui_group","name":"Smart Kitchen","tab":"d0bb3b6e.af7138","order":1,"disp":true,"width":"6","collapse":false},{"id":"234de149.2d51fe","type":"ibmiot in","z":"6b6ad608.6d0838","authentication":"apiKey","apiKey":"d0bccf6.bb3553","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"1001","applicationId":"","deviceType":"nodemcu","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":110,"y":100,"wires":[["9adcd76f.302fe8","79a65c83.fa9ca4","952efb77.821848","7821b83b.e22f08"]]},{"id":"9adcd76f.302fe8","type":"debug","z":"6b6ad608.6d0838","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":850,"y":100,"wires":[]},{"id":"79a65c83.fa9ca4","type":"function","z":"6b6ad608.6d0838","name":"Jar Quantity","func":"global.set('jar',msg.payload.d.jar)\nreturn {payload:msg.payload.d.jar}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":450,"y":180,"wires":[["9adcd76f.302fe8","ff6ad0d6.eceae"]]},{"id":"ff6ad0d6.eceae","type":"ui_gauge","z":"6b6ad608.6d0838","name":"","group":"71f0ae94.10f1e","order":1,"width":0,"height":0,"gtype":"wave","title":"Jar Quantity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":850,"y":200,"wires":[]},{"id":"7c9b41de.37e85","type":"http in","z":"6b6ad608.6d0838","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":120,"y":440,"wires":[["bfbebbbb.3829b8"]]},{"id":"a65baecc.93811","type":"http response","z":"6b6ad608.6d0838","name":"","statusCode":"","headers":{},"x":850,"y":440,"wires":[]},{"id":"bfbebbbb.3829b8","type":"function","z":"6b6ad608.6d0838","name":"httpresponse","func":"msg.payload={\"jar\":global.get('jar'),\"gas\":global.get('gas'),\"gasw\":global.get('gasw')}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":450,"y":440,"wires":[["a65baecc.93811"]]},{"id":"952efb77.821848","type":"function","z":"6b6ad608.6d0838","name":"gas","func":"global.set('gas',msg.payload.d.gas)\nreturn {payload:msg.payload.d.gas}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":430,"y":260,"wires":[["51df5cde.8dccf4","9adcd76f.302fe8"]]},{"id":"51df5cde.8dccf4","type":"ui_gauge","z":"6b6ad608.6d0838","name":"","group":"71f0ae94.10f1e","order":1,"width":0,"height":0,"gtype":"gage","title":"Gas Sensor Value","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":870,"y":280,"wires":[]},{"id":"7821b83b.e22f08","type":"function","z":"6b6ad608.6d0838","name":"gasw","func":"global.set('gasw',msg.payload.d.gasw)\nreturn {payload:msg.payload.d.gasw}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":430,"y":340,"wires":[["8abea263.daadc","9adcd76f.302fe8"]]},{"id":"8abea263.daadc","type":"ui_gauge","z":"6b6ad608.6d0838","name":"","group":"71f0ae94.10f1e","order":2,"width":0,"height":0,"gtype":"donut","title":"Cylinder Weight","label":"Kg","format":"{{value}}","min":0,"max":"15","colors":["#ff0000","#e6e600","#1eff00"],"seg1":"","seg2":"","x":860,"y":360,"wires":[]},{"id":"80739a82.b68558","type":"function","z":"6b6ad608.6d0838","name":"","func":"msg.payload={\"jar\":global.get('jar')}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":600,"wires":[["dcc12871.0b6f48"]]},{"id":"dcc12871.0b6f48","type":"switch","z":"6b6ad608.6d0838","name":"Jar","property":"jar","propertyType":"global","rules":[{"t":"lte","v":"10","vt":"num"},{"t":"lte","v":"10","vt":"num"},{"t":"lte","v":"10","vt":"num"},{"t":"gt","v":"10","vt":"num"}],"checkall":"true","repair":false,"outputs":4,"x":430,"y":600,"wires":[[],["ad29faf1.c18268"],["1fa5f3f9.4ae8ac"],["f160fcf3.32a0e"]]},{"id":"a94a42a8.be92e","type":"http request","z":"6b6ad608.6d0838","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://www.fast2sms.com/dev/bulkV2?authorization=hNZ0J4PWeg7dkzrITivcF1a6Q5M2LDtEmSu3H8bqwolKx9RyBf8LifbF4VGmYp9KzrXD6nNsO3udSaoR&route=q&message=Jar%20Quantity%20is%20Low.....Please%20fill%20the%20Jar%20!!!&language=english&flash=1&numbers=9825695811","tls":"","persist":false,"proxy":"","authType":"","x":670,"y":500,"wires":[["d5446494.61d308"]]},{"id":"f160fcf3.32a0e","type":"debug","z":"6b6ad608.6d0838","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":670,"y":700,"wires":[]},{"id":"d646bf1d.02141","type":"inject","z":"6b6ad608.6d0838","name":"","props":[{"p":"payload"},{"p":"topic","v":"jar","vt":"global"},{"p":"topic","v":"gas","vt":"global"},{"p":"topic","v":"gasw","vt":"global"}],"repeat":"","crontab":"","once":false,"onceDelay":"5","topic":"","payload":"get","payloadType":"global","x":80,"y":900,"wires":[["80739a82.b68558","effcbe69.df1ff","ca697791.0d4aa8"]]},{"id":"effcbe69.df1ff","type":"function","z":"6b6ad608.6d0838","name":"","func":"msg.payload={\"gas\":global.get('gas')}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":900,"wires":[["70a31ef8.3eb78"]]},{"id":"70a31ef8.3eb78","type":"switch","z":"6b6ad608.6d0838","name":"Gas","property":"gas","propertyType":"global","rules":[{"t":"gt","v":"10","vt":"num"},{"t":"gt","v":"10","vt":"str"},{"t":"gt","v":"10","vt":"num"},{"t":"lte","v":"10","vt":"num"}],"checkall":"true","repair":false,"outputs":4,"x":430,"y":900,"wires":[[],["efe2b1bc.0c616"],["3fb4fa69.1d7396"],["2fd6fd36.357a02"]]},{"id":"d5446494.61d308","type":"debug","z":"6b6ad608.6d0838","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":930,"y":780,"wires":[]},{"id":"60206b8c.2e65e4","type":"http request","z":"6b6ad608.6d0838","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://www.fast2sms.com/dev/bulkV2?authorization=hNZ0J4PWeg7dkzrITivcF1a6Q5M2LDtEmSu3H8bqwolKx9RyBf8LifbF4VGmYp9KzrXD6nNsO3udSaoR&route=q&message=Gas%20Leakage%20Found.....Turn%20Off%20Gas%20Nobe%20and%20Start%20the%20Exhaust%20Fan%20.....Please%20Be%20alert%20!!!&language=english&flash=1&numbers=9825695811","tls":"","persist":false,"proxy":"","authType":"","x":670,"y":800,"wires":[["d5446494.61d308"]]},{"id":"2fd6fd36.357a02","type":"debug","z":"6b6ad608.6d0838","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":670,"y":1000,"wires":[]},{"id":"3fb4fa69.1d7396","type":"ui_toast","z":"6b6ad608.6d0838","position":"dialog","displayTime":"","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":true,"topic":"Gas Leakage Found.....Turn Off Gas Nobe and Start Exhaust Fan  .....Please Be alert !!!","name":"","x":670,"y":940,"wires":[[]]},{"id":"1fa5f3f9.4ae8ac","type":"ui_toast","z":"6b6ad608.6d0838","position":"dialog","displayTime":"","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":true,"topic":"Jar Quantity is Low.....Please fill the Jar !!!","name":"","x":670,"y":640,"wires":[[]]},{"id":"ca697791.0d4aa8","type":"function","z":"6b6ad608.6d0838","name":"","func":"msg.payload={\"gasw\":global.get('gasw')}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":1200,"wires":[["c5fdf95a.021d08"]]},{"id":"c5fdf95a.021d08","type":"switch","z":"6b6ad608.6d0838","name":"Gas Weight","property":"gasw","propertyType":"global","rules":[{"t":"lte","v":"2","vt":"num"},{"t":"lte","v":"2","vt":"num"},{"t":"lte","v":"2","vt":"num"},{"t":"gt","v":"2","vt":"num"}],"checkall":"true","repair":false,"outputs":4,"x":450,"y":1200,"wires":[[],["9ce3c62f.376a58"],["8b1fa995.a7d458"],["62030936.247958"]]},{"id":"7610667b.051eb8","type":"http request","z":"6b6ad608.6d0838","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://www.fast2sms.com/dev/bulkV2?authorization=hNZ0J4PWeg7dkzrITivcF1a6Q5M2LDtEmSu3H8bqwolKx9RyBf8LifbF4VGmYp9KzrXD6nNsO3udSaoR&route=q&message=Gas%20Cylinder%20will%20Empty%20In%20nest%205%20Days.....Please%20Book%20your%20cylinder%20as%20soon%20as%20Posiable%20!!!&language=english&flash=1&numbers=9825695811","tls":"","persist":false,"proxy":"","authType":"","x":670,"y":1100,"wires":[["d5446494.61d308"]]},{"id":"62030936.247958","type":"debug","z":"6b6ad608.6d0838","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":670,"y":1300,"wires":[]},{"id":"8b1fa995.a7d458","type":"ui_toast","z":"6b6ad608.6d0838","position":"dialog","displayTime":"","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":true,"topic":"Gas Cylinder will Empty In nest 5 Days.....Please Book your cylinder as soon as Posiable !!!","name":"","x":670,"y":1240,"wires":[[]]},{"id":"814e526.2f566b","type":"ui_button","z":"6b6ad608.6d0838","name":"Start Exhaust Fan","group":"71f0ae94.10f1e","order":3,"width":0,"height":0,"passthru":false,"label":"Exhaust Fan On","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"Efanon\"}","payloadType":"json","topic":"","x":150,"y":1440,"wires":[["901bb744.96d2c8","b01ed9ac.167b68"]]},{"id":"3a1c3c29.c1ed04","type":"ui_button","z":"6b6ad608.6d0838","name":"Stop Exhaust Fan","group":"71f0ae94.10f1e","order":4,"width":0,"height":0,"passthru":false,"label":"Exhaust Fan Off","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"Efanoff\"}","payloadType":"json","topic":"","x":150,"y":1500,"wires":[["901bb744.96d2c8","b01ed9ac.167b68"]]},{"id":"901bb744.96d2c8","type":"debug","z":"6b6ad608.6d0838","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":730,"y":1400,"wires":[]},{"id":"b27c6e90.0e2ea","type":"http in","z":"6b6ad608.6d0838","name":"","url":"/message","method":"get","upload":false,"swaggerDoc":"","x":140,"y":1600,"wires":[["143af77a.46eee9"]]},{"id":"4dce40d0.31573","type":"http response","z":"6b6ad608.6d0838","name":"","statusCode":"","headers":{},"x":710,"y":1640,"wires":[]},{"id":"143af77a.46eee9","type":"function","z":"6b6ad608.6d0838","name":"commands","func":"msg.payload=msg.payload.command\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":430,"y":1600,"wires":[["4dce40d0.31573","5373c602.7d95f8","b01ed9ac.167b68"]]},{"id":"5373c602.7d95f8","type":"debug","z":"6b6ad608.6d0838","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":730,"y":1740,"wires":[]},{"id":"b01ed9ac.167b68","type":"ibmiot out","z":"6b6ad608.6d0838","authentication":"apiKey","apiKey":"d0bccf6.bb3553","outputType":"cmd","deviceId":"1001","deviceType":"1.2.2","eventCommandType":"home","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":720,"y":1500,"wires":[]},{"id":"9ce3c62f.376a58","type":"debug","z":"6b6ad608.6d0838","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":670,"y":1160,"wires":[]},{"id":"ad29faf1.c18268","type":"debug","z":"6b6ad608.6d0838","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":670,"y":560,"wires":[]},{"id":"efe2b1bc.0c616","type":"debug","z":"6b6ad608.6d0838","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":670,"y":860,"wires":[]}]